.sidebar {
    position: fixed;
    top: 49px;
    left: 0;
    bottom: 0;
    width: 150px;
    background-color: #088a42;
  }
  
  .sidebar nav {
    overflow-y: auto;
    height: 100%;
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar li {
    border-bottom: 1px solid #ddd;
  }
  
  .sidebar a {
    display: block;
    padding: 10px;
    font-size: 1.0rem;
    color: #faf7f7;
        text-decoration: none;
  }
  
  .sidebar a:hover {
    color: #000;
    font-size: 1.5rem;
    color: #faf7f7;
  }
  